<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{=URL('static','css/style.css')}}"/>
    <title>{{ =f'{student.last_name}, {student.first_name} {student.middle_name}' }} | RLE Record</title>
  </head>
  <body>
    <header>
      <div class="text-center">
        <h2>COLLEGE OF NURSING</h2>
        <p>Legazpi City</p>
        <br>
        <h1>RECORD OF RELATED LEARNING EXPERIENCE</h1>
        <h3>Bachelor of Science in Nursing</h3>
        <p>Ladderized Curriculum</p>
      </div>
    </header>
    <div class="flex-space-between row">
      <div>
          <span class="text-bold">NAME:</span>
          <span>{{ =f'{student.last_name}, {student.first_name} {student.middle_name}'.upper() }}</span>
      </div>
      <div>
          <span class="text-bold">CLASS:</span>
          <span>{{ =student.class_year }}</span>
      </div>
    </div>

    <table>
      <thead class="text-small">
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th colspan="2">Lecture</th>
          <th colspan="2">Releated Learning Exp.</th>
        </tr>
        <tr>
          <th colspan="5"></th>
          <th class="u last-col">Total</th>
          <th class="u last-col">Units</th>
          <th class="u last-col">Hours</th>
          <th class="u last-col">Units</th>
        </tr>
      </thead>
      <tbody class="text-small">
        {{ for term in terms: }}  <!-- loop over the terms -->
        <tr>
          <td style="vertical-align: top;" rowspan="{{ =len(term_courses[term]) }}">Ladder {{ =term }}</td>
          {{ for course in term_courses[term]: }} <!-- loop over courses per term -->
          <td>{{ =course.code_subject }}</td>
          <td class="text-right">{{ =course.code_digit }}</td>
          <td>-</td>
          <td>{{ =course.title }}</td>
          <td class="text-center">{{ =course.lecture_total }}</td>
          <td class="text-center">{{ =course.lecture_units }}</td>
          <td class="text-center">{{ =course.rle_hours }}</td>
          <td class="text-center">{{ =course.rle_units }}</td>
        </tr>
        {{ pass }} <!-- end courses for loop -->
        <tr>
          <th style="height: 10px"></th>
        </tr>
        {{ pass }} <!-- end terms for loop -->
        <tr class="text-bold text-center">
          <td colspan="5" class="text-right">TOTAL</td>
          <td class="double-underline">{{ =total["lecture_total"] }}</td>
          <td class="double-underline">{{ =total["lecture_units" ]}}</td>
          <td class="double-underline">{{ =f'{total["rle_hours"]:,}' }}</td>
          <td class="double-underline">{{ =total["rle_units"] }}</td>
        </tr>
      </tbody>
    </table>

    <div class="mt-3">
      <h3>COMMUNITY RESOURCES</h3>
      <table class="pl-5 text-small">
        {{ if attended_cr_dict[1]: }}
        <tr>
          <th style="height: 10px"></th>
        </tr>
        <tr class="text-bold text-center">
          <th class="text-left">1. BARANGAY/MUNICIPALITIES</th>
          <th>No. of Families</th>
          <th>Year Level</th>
        </tr>
        {{ for cr in attended_cr_dict[1]: }}
        <tr>
          <td class="pl-5">{{ =cr.community_resource_id.name }}</td>
          <td class="text-center">{{ =f'{cr.community_resource_id.families_total:,}' }}</td>
          <td class="text-center">{{ =cr.year_level }}</td>
        </tr>
        {{ pass }} <!-- end for cr -->
        {{ pass }} <!-- end if attended_cr_dict[1] -->

        {{ if attended_cr_dict[2]: }}
        <tr>
          <th style="height: 10px"></th>
        </tr>
        <tr class="text-bold text-center">
          <th class="text-left">
            {{ if attended_cr_dict[1]: }}
            2. HOSPITALS/CLINICS
            {{ else: }}
            1. HOSPITALS/CLINICS
            {{ pass }} <!-- end if -->
          </th>
          <th>Daily Average Patient</th>
          <th>Year Level</th>
        </tr>
        {{ for cr in attended_cr_dict[2]: }}
        <tr>
          <td class="pl-5">{{ =cr.community_resource_id.name }}</td>
          <td class="text-center">{{ =f'{cr.community_resource_id.patients_daily_ave:,}' }}</td>
          <td class="text-center">{{ =cr.year_level }}</td>
        </tr>
        {{ pass }} <!-- end for cr -->
        {{ pass }} <!-- end if attended_cr_dict[2] -->
      </table>
    </div>

    <div class="mt-3">
      <p><span class="text-bold">Date completed:</span> {{ =student.date_graduated.strftime("%B %-d, %Y") }}</p>
      <div class="flex-end mt-2">
        <div class="text-center">
          <p class="text-bold">{{ =f'{student.college_id.dean.name.upper()}{f", {student.college_id.dean.title}" if student.college_id.dean.title else ""}' }}</p>
          <p>Dean</p>
        </div>
      </div>
      <div style="width: 40%" class="mt-2 pl-5">
        <p>Noted:</p>
        <p class="text-center text-bold">{{ =f'{rle_record.registrar_id.name.upper()}{f", {rle_record.registrar_id.title}" if rle_record.registrar_id.title else ""}' }}</p>
        <p class="text-center">{{ =f'{rle_record.registrar_id.position}' }}</p>
      </div>
    </div>

    <footer class="mt-3">
      <div class="flex-space-between text-bold text-xs">
        <div>
          <p>BU-F-UREG-57</p>
          <p>Effectivity Date: August 2, 2010</p>
        </div>
        <div>
          <p>Revision: {{ =rle_record.revision }}</p>
        </div>
      </div>
    </footer>
  </body>
</html>
