body {
  width: 8.5in;
  margin: auto;
}

table {
  width: 100%;
}

h1 {
  font-size: 14pt;
  margin: 0.2em;
}
h2 {
  font-size: 13pt;
  margin: 0.2em;
}
h3 {
  font-size: 12pt;
  margin: 0.2em;
}
p {
  margin: 0.2em;
}

td, th {
  padding-right: 5px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.row {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-bold {
  font-weight: bold;
}

.text-small {
  font-size: 11pt;
}

.text-xs {
  font-size: 9pt;
}

.u {
  text-decoration: underline;
}

.double-underline {
  border-bottom: 5px double black
}

.last-col {
  width: 10%;
}

.pl-5 {
  padding-left: 50px;
}

.pt-1 {
  padding-top: 10px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-2 {
  margin-top: 20px;
}
